<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
    <button (click)="login()">login</button>
    <button (click)="logout()">logout</button>
    <button (click)="getAccessToken()">getAccessToken</button>
    <p>{{getToken()}}</p>
  </div>
</body>
